{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 150,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "braceStyle": "1tbs",
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "arrowParens": "always",
  "embeddedLanguageFormatting": "auto"
}
